body {
  background-color: #000;
  font-family: Roboto,Ubuntu,sans-serif;
  color: #eee;
  font-size: 18px;
}

.header {
  position: relative;
  overflow: hidden;
}

.header, .programacao, .sobre, .formulario {
  border-bottom: #777 double 1px;
}

.header-bg {
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.btn-buy {
  width: 600px;
  max-width: 95%;
  font-weight: bolder;
}

.youtube-video {
  width: 650px;
  height: 380px;
  max-width: 100%;
}

.header-video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  bottom: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 700px;

  background: radial-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.7));
}

.header-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
}

.header-content h5 {
  max-width: 800px;
}

.header-content h1 {
  max-width: 1000px;
}

.sub-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 700px;
}

.sub-form input, .sub-form button {
  font-size: 18px;
  height: 46px;
}

.programacao img {
  max-width: 100%;
}

.sobre img {
  max-width: 100%;
  width: 200px;
  border-radius: 100%;
}